

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}




:root {
    --color-brand-blue: rgb(43, 127, 255);
    --color-primary-dark: rgb(1, 28, 68);
    --color-primari-light: rgb(255, 255, 255);
    
}

/* Base */
body {
    columns: var(--color-primary-dark);
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    line-height: 1.2;
}

ul {
    list-style-type: none;
}


/* Button */
.button {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-primari-light);
    border-radius: 32px;
    border: 2px solid var(--color-brand-blue);
    background-color: var(--color-brand-blue);
    cursor: pointer;
}

.button:hover {
    color: var(--color-primary-dark);
    box-sizing: border-box;
    background-color: transparent;
}
/* Link */
.link {
    color:var(--color-primary-dark) ;
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    color:var(--color-brand-blue);
    text-decoration: underline;
    font-weight: 700;
}
/* Hero-section */
.hero-title {
    color:var(--color-brand-blue);
    font-family: 'play', sans-serif;
    text-align: left;
    text-transform: capitalize;
    font-size: 140px;
    font-weight: 700;
    line-height: 1;
}

.text18px {
    font-size: 18px;
}

.text12px {
    font-size: 12px;
    line-height: 1.5;
}


/* aboutus-section */
.section-title {
    color: var(--color-primary-dark);
    font-family: 'play', sans-serif;
    font-size: 64px;
    line-height: 1.2;
}

.section-title .accent {
    color: var(--color-brand-blue);
}

.section-title .accent2section {
    color: var(--color-brand-blue);
    text-transform: capitalize;
}

/* aboutus-section */
.text2section {
    color: rgb(1, 28, 68);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 22px;   
}

.text22px {
    font-size: 22px;
}

/* footer */

.text16px {
    font-size: 16px;
}

.text13px {
    font-size: 13px;
}